@plugin "daisyui";
@import "tailwindcss";
/* popins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-main: #e5eefc;
  --color-blue: #dbeafe;
  --color-gradient: linear-gradient(
    90deg,
    #2070e7 0%,
    #239ae7 50%,
    #0ab2d6 100%
  );
  --color-body: #fafcfe;
  --color-card: #fcfdff;
  --color-desc: #111827;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-weight-extrabold: 1000;

  --animate-zoomin: zoomin 50s linear infinite;
  --animate-bounce: bounce 4s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.bg-gradient {
  background: var(--color-gradient);
}

.scroll-container {
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.scroll-content {
  display: flex;
  gap: 1rem;
  width: max-content;
}

.scroll-left {
  animation: scrollLeft 40s linear infinite;
}

.scroll-right {
  animation: scrollRight 40s linear infinite;
}

.scroll-content:hover {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(calc(-50% - 0.5rem));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
